/*/
  css styling which is used by all layouts and pages

  todo:
    * remove layout dependent flex properties
      ex: flex-direction, align/justify

    * create classes for container elements
      ex: cards, bars

    * add in padding for container elements

    * color theme
      borders (and outlines?)
        color, thickness, rounded corners?

      background
        body, app-container(?), cards, bars,
        buttons, content, etc

      hover, active/focused, clicked, etc states

/*/

:root {
  --text-color: #000;

  --page-background-color: lightgrey;

  --container-background-color: whitesmoke;

  --container-border-color: gray;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background-color: var(--page-background-color);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: fit-content;
  min-width: 400px;
  max-width: 800px;
  padding: 8px;
  border: 1px solid var(--container-border-color);

  background-color: var(--container-background-color);
}
form>div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 4px;
}
form label {
  display: inline-block;
  width: 30%;
  min-width: 150px;
  max-width: 300px;
}
form input {
  display: inline-block;
  width: 50%;
  min-width: 200px;
  max-width: 400px;
}


#app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 600px;
}

